<nav>
  <div class="nav-logo">
    <a href="/">
      <ion-icon name="chatbubbles-outline"></ion-icon> Contact App
    </a>
  </div>
  <div class="nav-links">
    <div>
      <a class="<%- (active == 'about') ? 'active' : '' %>" href="/about">About</a>
      <a class="<%- (active == 'apps') ? 'active' : '' %>" href="/apps">Apps</a>
    </div>
    <div>
      <a href="/login">Login</a>
      <a href="/register" class="btn">Sign Up</a>
    </div>
  </div>
</nav>