<div class="content">
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing.</h1>
    <div class="search-box">
        <input type="text" placeholder="Search">
        <button type="submit">
            <ion-icon name="search-outline"></ion-icon>
        </button>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, corrupti repellat.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta animi nihil quasi quia unde, deserunt corrupti,
        necessitatibus sed labore dolorem, quisquam doloribus eveniet perspiciatis eligendi reiciendis pariatur repellat
        temporibus rerum magni consequuntur error eum delectus. Sed nam dolores officia fuga dicta magni tenetur
        voluptates. Ea deserunt excepturi repellendus alias illum unde inventore. In sed, est rem deserunt libero
        minima, ea earum necessitatibus corrupti cumque, laudantium quod debitis. Repudiandae illum quae quia,
        dignissimos libero provident sunt corrupti aliquid a aliquam delectus nobis tenetur velit dicta dolor cum
        asperiores, doloremque odio ea voluptas aut atque quibusdam reprehenderit neque. Laborum, placeat cumque ipsum
        laboriosam magni odio rerum explicabo nostrum autem perspiciatis molestiae asperiores maxime.</p>
</div>