* {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1rem;

}

body {
    /* background: #e1e1e1 !important; */
    background: url('/images/background.jpg');
    background-size: cover;
    /* background: #f0f0f0; */
}


.main-button {
    background: #0059ff;
}

.main-button:hover {
    background: #0033cc;
}

.main-theme {
    /* background-color: #83c704; */
    /* background-color: #047bd6 !important; */
    /* background: linear-gradient(to left, #0000ff 0%, #66ff66 100%); */
    /* background: linear-gradient(to left, #33ccff 0%, #3399ff 100%); */
    background: none;
    /* color: #4f9e00; */
    /* color: #0447d6; */

}

.navbar-brand,
.nav-item a {
    color: white !important;
}